*, html, body{
	margin:0;
	padding:0;
}

body{
	background: rgba(0, 0, 0, 0.9);
}

.container-link-social-network{
	width: 100%;
	margin-top: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.link-social-network{
	background: rgb(252, 243, 231);
	color: #000;
	border: 0;
	padding: 1rem;
	width: 20rem;
	text-align: left;
}

.fa-arrow-right{
	background: rgb(252, 243, 231);
	color: #000;
	font-size: 1rem;
	padding: 1rem;
	cursor: pointer;
}

.fa-arrow-right:hover{
	background: rgba(252, 243, 231, 0.9);
}

canvas{
	margin-top: 5%;
}

footer{
	color: rgb(252, 243, 231);
	text-transform: uppercase;
	font-size: 12px;
	text-align: center;
	margin-top: 5%;
}
