*, html, body{
	margin: 0px;
	padding: 0px;
}

body{
	background: white;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.select-input{
	margin-top: 20%;
	width: 100%;
	color: rgba(0, 0, 0, 0.7);
	font-size: 18px;
}

.line-blue{
	width: 60%;
	margin-left: 20%;
	margin-right: -20%;
	margin-top: 3%;
	margin-bottom: 3%;
	
	height: .15rem;
	background: #99D3DF;
}

.container-time{
	margin-top: 20%;
}

#time{
	color: #99D3DF;
	font-size: 96px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button{
	background: #99D3DF;
	padding: 1rem;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: 0;
    border-radius: 35px;

    width: 257px;
    height: 79px;

    color: white;

    margin-top: 20%;

    font-weight: 500;
    font-size: 36px;
}



footer{
	color: #99D3DF;
    font-weight: 700;
	margin-top: 20%;
}