/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body, div, section, span, p, a, b, button, ul, li, footer, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E222D;
}

th {
    padding: 0rem 1rem!important;
    font-family: 'Roboto', sans-serif;
}

td {
    padding-left: 0rem!important;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}