/* You can add global styles to this file, and also import other style files */
body, div, section, span, p, a, b, button, ul, li, footer, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E222D;
}