<section>
    <table>
        <thead>
            <th>Máximo</th> <!--high-->
            <th>Mínimo</th> <!--low-->
            <th>Compra</th> <!--bid-->
            <th>Variação</th> <!--varBid-->
            <th>Porcentagem de Variação</th> <!--pctChange-->
        </thead>
        <tbody>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tbody>
    </table>
</section>